
<div class="name-container">
  <h1 class="animated-name" [@fadeInUp]="'in'">Dhanraj Kushwah</h1>
  
</div>

<section class="about">
  <div class="card">
    <div class="card-content">
      <div class="about-text">
        <h2>About Me</h2>
        <p>
          Hi, I'm Dhanraj Kushwah, a passionate web developer with experience in building modern web applications. My expertise includes working with Angular, React, Node.js, and other modern web technologies. I strive to create clean, efficient, and scalable code, and I am always eager to learn and implement new technologies.
        </p>
        <p>
          I have worked on various projects, ranging from small business websites to complex enterprise applications. My goal is to deliver high-quality solutions that meet the needs of my clients while pushing the boundaries of what web development can achieve.
        </p>
        <p>
          When I’m not coding, I enjoy exploring new technologies, reading, and contributing to open-source projects.
        </p>
        <p><strong>Mobile: </strong> +918269377569</p>
          <p><strong>Email: </strong> <a href="mailto:dhanraj.kushwah007@gmail.com">dhanraj.kushwah007@gmail.com</a></p>
          <p><strong>LinkedIn: </strong> <a href="https://www.linkedin.com/in/dhanraj-kushwah-5a2248227" target="_blank">LinkedIn Profile</a></p>
      </div>
      <div class="about-image">
        <img class="img1" src="../../assets/dhanraj1.jpeg" alt="Profile Picture" />
      </div>
    </div>
  </div>
</section>


<section class="about">
  <div class="container">
    <section class="skills">
      <h2>Skills</h2>
      <div class="skills-container">
        <div class="skill-card">Angular</div>
        <div class="skill-card">Angular Material</div>
        <div class="skill-card">Bootstrap</div>
        <div class="skill-card">CSS</div>
        <div class="skill-card">HTML</div>
        <div class="skill-card">JavaScript</div>
        <div class="skill-card">MySQL</div>
        <div class="skill-card">REST API</div>
        <div class="skill-card">SQL</div>
        <div class="skill-card">TypeScript</div>
        <div class="skill-card">Web Services</div>
        <div class="skill-card">Node Js</div>
        <div class="skill-card">Basic .NET</div>
        <div class="skill-card">Basic Core Java</div>
        <div class="skill-card">API Integration</div>
        <div class="skill-card">Project Management</div>
        <div class="skill-card">Problem Solving</div>
        <div class="skill-card">Github</div>
      </div>
    </section>
    

    <section class="experience">
      <h2>Experience</h2>
      <div class="job-grid">
        <div class="job-card">
          <h3>Angular Developer at Moreyeahs Inc. Pvt. Ltd</h3>
          <p><strong>Duration:</strong> 01/2022 - 11/2022</p>
          <p><strong>Project Name:</strong> Cogniphi-ITAC</p>
          <p>
            Responsibilities: API Binding, UI Designing, Language conversion (i18n), Leaflet map API binding. A Web-App where users can book rides across the city with multiple vehicle options. Played a role as Front-end Developer for designing and developing End-to-End Screens as per User requirements.
          </p>
          <div class="job-card-footer">
            <a href="https://github.com/Dhanrajkushwah/Authlogin.git" target="_blank" class="btn-view">
              <i class="fab fa-github"></i> View on GitHub
            </a>
          </div>
        </div>
        <div class="job-card">
          <h3>Angular Developer at Moreyeahs Inc. Pvt Ltd</h3>
          <p><strong>Duration:</strong> 11/2022 - 07/2023</p>
          <p><strong>Project Name:</strong> Prism</p>
          <p>
            Responsibilities: API Binding, UI Designing, Template form, Angular material, UI customization. The Prism Team provides a range of assessments through the PRISM platform, including E-Learning modules, Quick Quiz assessments, Psychometric assessments, etc.
          </p>
          <div class="job-card-footer">
            <a href="https://github.com/Dhanrajkushwah/Shopingcart.git" target="_blank" class="btn-view">
              <i class="fab fa-github"></i> View on GitHub
            </a>
          </div>
        </div>
        <div class="job-card">
          <h3>Angular Developer at Kiaan Technologies Pvt Ltd</h3>
          <p><strong>Duration:</strong> 08/2023 - Present</p>
          <p><strong>Project Name:</strong> Physiowala</p>
          <p>
            Responsibilities: API integration, UI design, video call functionality, live calendar appointment. The application provides online and offline doctor consultations with booking and online payment features.
          </p>
          <div class="job-card-footer">
            <a href="https://github.com/Dhanrajkushwah/Doctor-Website.git" target="_blank" class="btn-view">
              <i class="fab fa-github"></i> View on GitHub
            </a>
          </div>
        </div>
      </div>
    </section>
    
    

    <section class="education">
      <h2>Education</h2>
      <div class="degree">
        <h3>MCA (Masters in Computer Application)</h3>
        <p>Samrat Ashok Technological Institute, Vidisha, Madhya Pradesh</p>
        <p><strong>Duration:</strong> 07/2018 - 07/2021</p>
      </div>
      <div class="degree">
        <h3>BCA (Bachelor of Computer Applications)</h3>
        <p>Barkat Ullah University, Bhopal</p>
        <p><strong>Duration:</strong> 06/2015 - 06/2018</p>
      </div>
    </section>
  </div>
</section>

<!--client emoj-->
<div class="container mt-5 pb-4">
  <!--coloumns after slider-->
 <div class="row text-center">
   <div class="col-md-3 px-0">
    <div class="container">
      <div class="card-text" style="background-color:#e7f1fd;">
        <div class="card-body pt-4 pb-4">
          <span class="iconify fs-1 primary" style="color:blue;" data-icon="bx:bxl-dribbble"></span>
          <h5 class="card-title text-primary text-body">4</h5>
    <p>Happy Clients</p>
          </div>
    </div>
  </div>
   </div>
  <div class="col-md-3 px-0">
    <div class="container">
      <div class="card-text" style="background-color:#e7f1fd;">
        <div class="card-body pt-4 pb-4">
          <span class="iconify fs-1 primary" style="color:blue;" data-icon="bx:bx-file"></span>
          <h5 class="card-title text-primary text-body">4</h5>
    <p>Projects</p>
        </div>
    </div>
  </div>
   </div>
  <div class="col-md-3 px-0">
    <div class="container">
      <div class="card-text" style="background-color:#e7f1fd;">
        <div class="card-body pt-4 pb-4">
        <span class="iconify fs-1 primary" style="color:blue;" data-icon="bx:bx-tachometer"></span>
          <h5 class="card-title text-primary text-body">1463</h5>
    <p>Hours Of Support</p>
      </div>
    </div>
  </div>
  </div>
  <div class="col-md-3 px-0">
    <div class="container">
      <div class="card-text" style="background-color:#e7f1fd;">
        <div class="card-body pt-4 pb-4">
         <span class="iconify fs-1 primary" style="color:blue;" data-icon="bx:bxl-dribbble"></span>
        <h5 class="card-title text-primary text-body">15</h5>
    <p>Hard Workers</p>
      </div>
    </div>
  </div>
   </div>
</div>	
</div>
<section class="contact" id="contact">
  <h2 style="justify-content: center;text-align: center;font-size: 25px;">Contact Us</h2>
  <div class="container mt-5 p-4" style="background-color:#f6f9fe;">
 <div class="row">
    <div class="col-sm-6 mt-4">
      <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d29265.072745655933!2d77.80225073155569!3d23.52767902076004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d23.5323219!2d77.8252918!4m5!1s0x397c045e96580f11%3A0xfc93cf9bf4d04ac3!2svidisha%20restaurant!3m2!1d23.5242878!2d77.80973809999999!5e0!3m2!1sen!2sin!4v1584444363349!5m2!1sen!2sin" width="100%" height="80%" frameborder="0" style="border:1px solid green;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="col-sm-6">
      <section class="contact">
        <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onContact()">
          <label class="form-label" for="firstName">Full Name</label>
          <input type="text" placeholder="Enter your name" formControlName="name" class="form-control"  [ngClass]="{'is-invalid': contactForm.controls['name'].errors && ckDep }" />
          <small *ngIf="contactForm.controls['name'].errors && ckDep" class="text-danger">Enter Full Name</small>
          <label class="form-label" for="firstName">Email</label>
          <input type="email" placeholder=" Enter your email" formControlName="email" class="form-control"  [ngClass]="{'is-invalid': contactForm.controls['email'].errors && ckDep }" />
          <small *ngIf="contactForm.controls['email'].errors && ckDep" class="text-danger">Enter  Email</small>
          <label class="form-label" for="your number">Mobile Number</label>
          <input type="text" placeholder=" Enter your Mobile number" formControlName="phoneNumber" class="form-control"  [ngClass]="{'is-invalid': contactForm.controls['phoneNumber'].errors && ckDep }" />
          <small *ngIf="contactForm.controls['phoneNumber'].errors && ckDep" class="text-danger">Enter  Mobile Number</small>
          <label class="form-label" for="your message">Message</label>
          <textarea placeholder="Enter your message" rows="5" formControlName="yourmessage" class="form-control"  [ngClass]="{'is-invalid': contactForm.controls['yourmessage'].errors && ckDep }"></textarea>
          <small *ngIf="contactForm.controls['yourmessage'].errors && ckDep" class="text-danger">Enter Message</small>
          <button type="submit" class="mt-1" value="Submit">Submit</button>
        </form>
      </section>  
    </div>
</div>
</div>
</section>

 

