<header>
    <!-- Toolbar -->
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     
   </button>
   <span>Welcome to My Portfolio </span>
   <span class="example-spacer"></span>
   <nav>
    <a routerLink="/home">Home</a>
    <a routerLink="/about">About</a>
    <a [routerLink]="[]" fragment="contact">Contact</a>
  </nav>
     <button routerLink="/signupform" class="btn btn-submit d-flex">Get Started</button>&nbsp;
 </mat-toolbar>
  </header>
  
  